{% extends "base.html" %}
{% block title %}
Courses
{% endblock %}

{% block body %}


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% for course in courses %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a>{{course.name}}</a>
                    </h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text">
                        <small class="text-muted">Начало: {{ course.start_date }}</small><br>
                        <small class="text-muted">Окончание: {{ course.end_date }}</small>
                    </p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}