{% extends "base.html" %}
{% block title %}
Courses
{% endblock %}

{% block body %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% for course in courses %}
        <div class="col-lg-3 d-flex align-items-stretch mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a>{{ course.name }}</a>
                    </h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text">
                        <small class="text-muted">Начало: {{ course.start_date }}</small><br>
                        <small class="text-muted">Окончание: {{ course.end_date }}</small>
                    </p>
                    <div class="mt-auto">
                        <a href="{% url 'main_app:courses_detail' pk=course.pk %}" class="btn btn-primary">Подробнее</a>
                        <a href="{% url 'main_app:courses_update' pk=course.pk %}"
                           class="btn btn-dark">Редактировать</a>
                        <a href="{% url 'main_app:courses_delete' pk=course.pk %}"
                           class="btn btn-danger">Удалить</a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p>
        <a class="btn btn-success" href="{% url 'main_app:courses_create' %}">Создать новый курс</a>
    </p>
</div>
{% endblock %}