{% extends "base.html" %}
{% block title %}
{{course.name}}
{% endblock %}

{% block body %}


<div class="container" style="margin-top: 20px;">
    <p></p>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        {{course.name}}
                    </h5>
                    <p>{{ course.description }}</p>
                    <p><strong>Начало:</strong> {{ course.start_date }}</p>
                    <p><strong>Окончание:</strong> {{ course.end_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}