<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>

<html class="no-js h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="{% static 'images/newlogo.png' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_app:index' %}">Home
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course_app:courses_list' %}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:teachers_list' %}">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_app:contacts' %}">Contacts</a>
            </li>
        </ul>


        <div class="d-flex ms-auto align-items-center">
            {% if user.is_authenticated %}
                <span class="navbar-text me-2">Hello, {{ user.username }}</span>
                <form method="post" action="{% url 'user_app:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form>
            {% else %}

                <span class="navbar-text me-2">
                   <form method="post" action="{% url 'user_app:login' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Login</button>
                </form>
                </span>

                <form method="post" action="{% url 'user_app:registration' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Register</button>
                </form>



            {% endif %}
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

<footer
        class="footer mt-auto py-3 bg-light d-flex flex-wrap justify-content-between align-items-center py-3 px-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-2 mb-md-0 text-muted">VeroneORIGINAL &#127279; Language School 2024</span>
    </div>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a class="nav-link px-2 text-muted" target="_blank"
                                href="https://github.com/OtusTeam/WebPython/tree/WebPython.2023.10/"><i
                class="bi bi-github"></i></a></li>
    </ul>

</footer>

</body>

</html>
